@model Application.Models.User.SignInRequest

@{
    ViewData["Title"] = "Sign in";
}

<div class="container mt-5">
    <form asp-antiforgery="true" asp-action="SignIn" asp-controller="User" method="post">
    <div>
        <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
        <div>  
            <label asp-for="Username" class="form-label">Username</label>
            <input asp-for="Username" class="form-control" autocomplete="email" aria-required="true" placeholder="johnDoe" type="text" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" value="Sign in" class="btn btn-success mb-0" />
        </div>
    </div>
</form>

</div>

@section scripts {
     <partial name="_ValidationScriptsPartial" />
}